
<div class="text-center">
  <button type="button" class="btn btn-link w-25 m-5 " style="font-family: 'Retronoid', sans-serif; font-size: 3rem; background-image: linear-gradient(#E21143, #FFB03A); color:#121212;"data-toggle="modal" data-target="#loginModal" data-toggle="modal" data-target="#loginModal">
      PLAY
  </button>  
  <button type="button" class="btn btn-link w-25 m-5" style="font-family: 'Retronoid', sans-serif; font-size: 3rem; background-image: linear-gradient(#E21143, #FFB03A); color:#121212;"data-toggle="modal" data-target="#signUpModal">
      HIGHSCORES
  </button> 
</div>



