{{!-- #FFB03A --}}
<div class="d-flex justify-content-center p-5" style="font-family: 'Player 1 Up 3D', sans-serif;">
<div class="row">
  <div class="col-sm-6 align-items-stretch" >
    <div class="card h-100" style="background-image: linear-gradient(#E21143, #FFB03A);">
      <div class="card-body m-3">
    <h2 class="card-title">Login</h2>
    <form class="form login-form">
      <div class="form-group mt-3">
        <label for="email-login">email:</label>
        <br>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <br>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <br>
        <button class="btn btn-danger btn-block" style="" type="submit">login</button>
    </div>
    </form>
    </div>
  </div>
  </div>
  
<div class="col-sm-6 align-items-stretch " >
    <div class="card " style="background-image: linear-gradient(#E21143, #FFB03A);">
    <div class="card-body m-3">
    <h2 class="card-title">Sign-up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <br>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <br>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <br>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <br>
        <button class="btn btn-danger btn-block" type="submit">signup</button>
      </div>
    </form>
    </div>
    </div>
    </div>
  </div>
  </div>

<script src="/js/login.js"></script>




{{!-- <div class="col-sm-6 shadow p-3 mb-5 rounded text-white " style="background-color: #474747;">
    <h2>Sign-up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
</div> --}}