body {
    background-image: url('/Assets/starsgif.gif');
    height: 100vh;
}

.coolbtn {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .coolbtn span {
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    transition: 0.5s !important;
  }
  
  .coolbtn span:after {
    content: '\00BB' !important;
    position: absolute !important;
    opacity: 0 !important;
    top: 0 !important;
    right: -20px !important;
    transition: 0.5s !important;
  }
  
  .coolbtn:hover span {
    padding-right: 25px !important;
  }
  
  .coolbtn:hover span:after {
    opacity: 1 !important;
    right: 15 !important;
  }

  