body {
    background-image: url('/Assets/starsgif.gif');
    height: 100vh;
}

#login-btn {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  #login-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #login-btn span:after {
    content: '\00BB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #login-btn:hover span {
    padding-right: 25px;
  }
  
  #login-btn:hover span:after {
    opacity: 1;
    right: 15;
  }

  